@use 'cor';

.hero {

    &__button{
        padding: 1vw;
        position: absolute;
        top: 2vw;
        left: 3vw;
        border: 2px solid cor.$cortext;
        border-radius: 5px;
        color: cor.$cortext;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 1.2vw;
        font-family: Papyrus, fantasy; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 17.6px;


        &:hover {
            scale: 1.1;
            cursor: pointer;
        }
    }
}
