@use 'cor';
@use 'hero';
@use 'wallpapers';
@use 'gameSection';
@use 'faq';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body
{
    background-image:url(../images/hero_background.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;

    
    width: 100vw;
    height: 100vh;
    
    &::before { //como escurecer um background image
        position: absolute;
        top: 90vh;
        left: 5vw;
        width: 90%;
        height: 230%;
        background-color: #000;
        content: '';
        opacity: 0.7;
    }

    @media (max-width: 640px){

    background-size: 200vw 100%;
    background-position: left;

    &::before { //como escurecer um background image
        position: absolute;
        top: 90vh;
        left: 5vw;
        width: 90%;
        height: 180%;
        background-color: #000;
        content: '';
        opacity: 0.7;
    }

    
    }
    @media (max-width: 768px) and (min-width:641px) {
        &::before { //como escurecer um background image
            position: absolute;
            top: 90vh;
            left: 5vw;
            width: 90%;
            height: 145%;
            background-color: #000;
            content: '';
            opacity: 0.7;
        }
    }

    @media (max-width: 1024px) and (min-width:769px){
        &::before { //como escurecer um background image
            position: absolute;
            top: 90vh;
            left: 5vw;
            width: 90%;
            height: 190%;
            background-color: #000;
            content: '';
            opacity: 0.7;
        }
    }
}




.secoes {
    width: 85vw;
    margin: 90vh auto;
    position: relative;
    background-color: black;
    display: block;

    img{        
        width: 100%;
        
    }
}


.title{
    color: cor.$cortext;
    font-size: 3vw;
    font-weight: bold;
    font-family: Papyrus, fantasy;
    margin: 1em 0 0.5em;
    text-align: center;
    text-shadow: 0.01vw 0.01vw #fff;

    @media (max-width:640px){
        font-size: 30px;
    }
}

h3{
    color: cor.$cortext;
    font-size: 2vw;
    font-weight: bold;
    font-family: Papyrus, fantasy;
}

p{ 
    color: cor.$cortext;
    font-size: 1vw;
    font-weight: bold;
    font-family: Papyrus, fantasy;
    text-align: center;
    text-align: justify;
    
}