@use 'cor';
@use 'hero';
@use 'wallpapers';
@use 'gameSection';
@use 'faq';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body
{
    background-image: url(../images/fundosecaoop1.png), url(../images/hero_background.jpeg);
    background-size: 90vw ,cover;
    background-repeat: no-repeat;
    background-attachment: scroll, fixed;
    background-position: 5vw, 0;
    background-position-y: 90vh,0 ;

    width: 100vw;
    height: 100vh;
}



.secoes {
    width: 85vw;
    margin: 90vh auto;
    position: relative;
    background-color: black;
    display: block;

    img{        
        width: 100%;
        
    }
}


.title{
    color: cor.$cortext;
    font-size: 3vw;
    font-weight: bold;
    font-family: Papyrus, fantasy;
    margin: 1em 0 0.5em;
    text-align: center;
    text-shadow: 0.01vw 0.01vw #fff;
}

h3{
    color: cor.$cortext;
    font-size: 2vw;
    font-weight: bold;
    font-family: Papyrus, fantasy;
}

p{ 
    color: cor.$cortext;
    font-size: 1vw;
    font-weight: bold;
    font-family: Papyrus, fantasy;
    text-align: center;
    text-align: justify;
}